body {

  margin:0;
}

h1 {
  color: red;
  text-align: center;
  font-family: verdana;
  top: 20;
  position:fixed;
  top: 20px;
  width:100%;
  background-color: green;
}
/*
essential styles:
these make the slideshow work
*/

#slides {
    position: relative;
    display:flex;
    flex:2;
    width:100%;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
  width:100%;

    position: absolute;
    display: block;
    /* margin: 0 auto; */
    top: 24px;
    /* width: 400px;
    height: 100px; */
    opacity: 0;
    z-index: 1;
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing {
    opacity: 1;
    z-index: 2;
}

.anime-list
{
  font-family: verdana;
}

ul.top {
  font-family: verdana;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li.top {
  float: left;
}

li.top a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.top a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
p {
  font-family: verdana;
  font-size: 20px;
}
div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
#one_piece
{
  color:red;
  font-size: 30px;
}
#dr_stone
{
  color:red;
  font-size: 30px;
}
#hunterxhunter
{
  color:red;
  font-size: 30px;
}
.circle {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ddd;
}
